<style> html , body{margin: 0;padding: 0;height: 100%;width: 100%;}
body{display: flex;flex-direction: column;justify-content: space-between;align-content: space-between;}
.navbar ul{list-style:  none;display: flex;flex-direction: row;padding: 0;margin: 0;}
.navbar ul li {margin: 5px;color: #fff;/*padding: 5px;padding: 5px;margin: 1px;border: 1px outset #000;*/}
.navbar ul a{text-decoration: none;color: #000;font-size: 12pt;}
.navbar ul a:hover li{color:#d8d8d8;}
.show_header{width: 100%;height: 150px;background-color: blue;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.main-link{text-decoration: none;font-size: 12pt;color: #fff;}
.main-link:hover {color: #d8d8d8;}
.show_body{display: flex;justify-content: center;    }
.show_questions  {background-color: #d8d8d8;border: 1px solid black; border-radius: 10px;width: 250px;padding-bottom: 5px;}
.question{display: flex;flex-direction: column;padding: 0 5px; }
.question p{font-size: 14pt;margin: 5px;}
.question input[type='text']{padding: 8px;border: 1px solid #000;}
.radio_answers{margin: 0;padding: 0;}
.radio_answers label{font-size: 12pt;}
.btn-calcular{padding: 0 5px;}
.btn-calcular button{cursor: pointer;border: none;border: 1px solide #4472C4;border-radius: 8px;width: 100%;background-color: #4472C4;margin: 5px 0;padding: 8px;color: #fff;font-size: 12pt;}
.show_footer{height: 50px;display: flex;justify-content: center;align-content: center;}

</style>



<div class="show_header">
        <h2>Simulador de Previdênicia</h2>
        <a href="/" class="main-link">Principal</a>
</div>
<div class="show_body">
    <div class="show_questions" id="show_questions">
        <div class="question">
        <% questions.forEach( function( model ){ %>
            <p><%=model.question %></p>
            <%if  (model.type == "text" ) {%>
                <input type="text"/>
           <% } %>
            <%if  (model.type == "radio" ) {%>
                <div class="radio_answers">
                   <% model.options.forEach (function (op){%>
                    <input type="radio" name="radio-answer" id="<%= op %>"/><label for="<%= op %>"><%= op %></label></br>
                   <% }) %>
                </div>
           <% } %>
           
        <% }); %>
            
        </div>
           
        <div class="btn-calcular">
            <button onclick="calculate()" value="Calcular">Calcular</button>
        </div>
    </div>
    <div id="show_result"></div>
</div>
<div class=""show_footer">
        <p>IBM Brasil</p>
</div>


<script src="js/question_show.js"></script>